@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #036eb7;
  --color-primary1: #eef3f6;
  --color-neutral: #eeeeee;
  --color-neutral1: #cccccc;
  --color-neutral2: #aaaaaa;
  --color-neutral3: #fcfcfc;
  --color-neutral4: #f5f9fb;
  --color-dark1: #000000;
  --color-dark2: #111111;
  --color-dark3: #222222;
  --color-dark4: #444444;
  --color-dark5: #666666;
  --color-green: #027a48;
  --color-green1: #ecfcf3;
  --color-error-red: #b42318;
  --color-error-red1: #fef3f2;
  --color-footer: #ffffff;
  --color-footer1: #fdfcfd;
  --color-footer-text: #4c4c4c;
  --color-text: #ededed;
  --color-text1: #a0a0a0;
  --font-inter: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
}

/* Dark mode */
.dark {
  --color-primary: #3b82f6;
  --color-primary1: #1e3a8a;
  --color-neutral: #1e293b;
  --color-neutral1: #334155;
  --color-neutral2: #475569;
  --color-neutral3: #262727;
  --color-neutral4: #1a1b1b;
  --color-footer: #010100;
  --color-footer1: #262727;
  --color-footer-text: #e2e8f0;
  --color-text: #e9ebec;
  --color-text1: #94a3b8;
  --color-error-red1: #1e1f1e;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-footer);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ====================LAYOUT======================== */

/* ====================BREAKPOINTS======================== */
/* For large devices */
@media screen and (max-width: 1208px) {
}

/* For medium devices */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 460px) {
}
